<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Staff/Index/" aria-expanded="false">
                    <i class="fa fa-users"></i><span class="nav-text">Personeller</span>
                </a>
            </li>
            <li>
                <a href="/Testimonial/Index/" aria-expanded="false">
                    <i class="fa fa-retweet"></i><span class="nav-text">Referanslar</span>
                </a>
            </li>
            <li>
                <a href="/Service/Index/" aria-expanded="false">
                    <i class="fa fa-meetup"></i><span class="nav-text">Hizmetler</span>
                </a>
            </li>
            <li>
                <a href="/BookingAdmin/Index/" aria-expanded="false">
                    <i class="fa fa-bars" aria-hidden="true"></i><span class="nav-text">Rezervasyonlar</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoom/Index/" aria-expanded="false">
                    <i class="fa fa-home" aria-hidden="true"></i><span class="nav-text">Odalar</span>
                </a>
            </li>
            <li>
                <a href="/AdminGuest/Index/" aria-expanded="false">
                    <i class="fa fa-users" aria-hidden="true"></i><span class="nav-text">Misafirler</span>
                </a>
            </li>
             <li>
                <a href="/AdminAbout/Index/" aria-expanded="false">
                    <i class="fa fa-info" aria-hidden="true"></i><span class="nav-text">Hakkımızda</span>
                </a>
            </li>

            
        </ul>
    </div>
</div>